body{
    display: flex;
    

    background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-repeat:no-repeat;
}

.container-box{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: black; */
    box-shadow: 3px 3px 30px lightseagreen;
    
}
.container{
    /* border: 1px solid red; */
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    
}
.card{
    border: 1px solid lightskyblue;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 3px 3px 30px lightseagreen;
    
}
.time{
    font-size: 40px;
    
}

.blinker{
    height: 100px;
    /* border: 1px solid blueviolet; */
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    visibility: visible;

}
.d-none{
    visibility: hidden;
}
/* .seconds{
    color: brown;
}
.minutes{
    color: aqua;
}
.hours{
    color: blue;
} */